@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Informacje</h1>
<div class="text-center">
    <h2>Aplikacja Sim Web</h2>
    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
    <p>Mapa typu "Bounce".</p>
    <p>Sekwencja ruchów: lulurdlllddlulldluuluu.</p>
</div>
